# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Node/Frontend
node_modules/
dist/
build/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log